<a [routerLink]="['/']">
  <h1>My Store</h1>
</a>

<div class="top-bar-actions-container" >
  <a routerLink="/cart" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>Checkout
  </a>

  <a routerLink="/counter" class="button fancy-button menu-item" >
    Counter
  </a>

  <a routerLink="/directive" class="button fancy-button menu-item" >
    Directive test
  </a>

  <a routerLink="/api-test" class="button fancy-button menu-item" >
    PE-GATE API test
  </a>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
